PORT=

# PARA RODAR SEM DOCKER
DATABASE_URL=<url-do-seu-banco-na-cloud>


# PARA RODAR COM DOCKER
DATABASE_URL="postgresql://postgres:postgres@db:5432/meubanco?schema=public"
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=meubanco

# PARA CONFIGURAR SINGLETON (PRISMA DB)
NODE_ENV="production"

# PARA CONDIGURAR JTW
JWT_SECRET="ABC-S3CR3T"
JWT_EXPIRES_IN="1h"

#URL IO REDIS
IO_REDIS_URL