PORT=3001

# DATABASE
DATABASE_URL=<url-do-seu-banco-na-cloud>
# ou (Docker local)
# DATABASE_URL="postgresql://postgres:postgres@db:5432/meubanco?schema=public"

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=meubanco

# ENV
NODE_ENV=production

# JWT
JWT_SECRET=ABC-S3CR3T
JWT_EXPIRES_IN=1h

# REDIS
REDIS_URL=redis://default:password@host:port